.project-details {
    padding: 20px;
    text-align: center;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 800px;
        margin: 0 auto;
        border-radius: 10px;
    }

    p {
        font-size: 1.2rem;
        margin: 20px 0;
    }

    &__embed {
        margin: 20px 0;
    }

    &__tags {
        margin: 20px 0;

        &__tag {
            background: var(--tag-background-color);
            padding: 5px 10px;
            border-radius: 5px;
            margin-right: 5px;
            display: inline-block;
        }
    }

    a {
        display: inline-block;
        padding: 10px 20px;
        background: var(--button-background-color);
        color: var(--button-text-color);
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
        transition: background 0.3s;

        &:hover {
            background: var(--button-hover-background-color);
        }
    }
}
