.md {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    //border: 4px solid var(--primary-color);

    h1 {
        padding-top: 100px;
    }

    h2 {
        padding-top: 30px;
    }

    h1,
    h2,
    h3 {
        color: var(--primary-color);
    }

    span,
    p,
    li {
        padding: 20px;
        font-size: 14pt;
        word-spacing: 9px;
        letter-spacing: 1.5px;
        line-height: 50px;
        font-family: Arial;
        text-align: justify;
        color: var(--projects-text-color);
    }
}


@media only screen and (max-width: 750px) {

    .md {
        margin-left: 5%;
        margin-right: 5%;
        border: none;

        p {
            font-size: 11pt;
            line-height: 3.2rem;
            word-spacing: normal;
        }
    }

}

@media only screen and (min-width : 751px) and (max-width: 1000px) {
    .md {
        margin-left: 10%;
        margin-right: 10%;
        border: none;

        p {
            font-size: 12pt;
            line-height: 3.2rem;
            word-spacing: 1.1rem;
        }
    }
}

@media only screen and (min-width : 1001px) and (max-width: 1250px) {}